h1 {
  border: 2px solid rgb(150, 84, 84);  
  border-radius: 10px;
  padding: 3px;
  text-align: center;
  color: rgb(17, 0, 255);
}

p {
  border-bottom: 1px dotted green;
  padding: 10px;
  border-radius: 10px;
  color: rgb(37, 56, 56);
}