    h1{
      border-style:solid;
      border-radius: 20px;
      border-color: hsl(180, 38%, 54%);
      text-align: center;
      
    }

    p{
        border-style: dashed;
        border-radius: 5px;
        border-color: aqua;
        text-align: center;
    }