*{
    margin: 0%;
    box-sizing: border-box;
}
header {
    text-align: center;
    background-color: antiquewhite;
    padding: 10px;

}
nav {
    background-color: black;
    padding: 10px;
}

.sect1 {
    float: left;
    width: 20%;
    padding: 10px;

}

.sect2 {
    float: left;
    width: 40%;
    padding: 10px;
}

.ok{
    text-align: center;
    background-color: azure;
    margin: 10px;
    
}